.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
  background-image: url(./assets/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  top: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
}

.logo {
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.animation {
  border: 0px solid black;
  border-radius: 0px;
}
.navbar_font {
  font-family: Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: end;
  color: #ffffff;
}
.logo_font {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: start;
  justify-items: start;
  margin-right: 25%;
  justify-content: start;
  text-align: start;
  font-size: 18px;
  width: 40%;
}
.navbar_layout {
  display: flex;
  justify-items: start;
  margin: 0px 0px 5%;
}
.navbar_item {
  display: flex;
  align-items: center;
  justify-items: end;
  align-content: start;
  padding: 1px;
  margin: 0px 0px 0px 0%;
  position: static;
  overflow: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
}
.intro {
  text-align: justify;
  display: flex;
  margin: 0% 65% 4% 0%;
  font-size: 20px;
}
.navbar_item_space {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 5%;
  padding-left: 5px;
}
.caption {
  font-size: 50px;
  margin-top: 0px;
  padding: 10% 0px 0px;
}


